@import "../../styles/colors";

.btn {
    background: none;
    color: $light-blue;
    font-size: 16px;
    border-radius: 12px;
    padding: 12px;
}

.btn:hover {
    cursor: pointer;
    background-color: $light-blue;
    color: white;
}

.borda {
    border: 3px solid $light-blue;
}

.semBorda{
    border: none;
}

.semBorda:hover {
    text-decoration: underline;
    background: none;
}