@import "../../styles/colors";

.btn {
    background: none;
    color: $light-blue;
    font-size: 16px;
    border-radius: 12px;
    padding: 12px;
    transition: all 0.3s;
}

.btn:hover {
    cursor: pointer;
    background-color: $light-blue;
    color: white;
}

.borda {
    border: 3px solid $light-blue;
}

.semBorda{
    border: none;
}

.semBorda:hover {
    text-decoration: underline;
    background: none;
}

.menuBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 14px;
    outline: none;
    border: none;
    padding: 8px;
    transition: all 0.25s;
}

.menuBtn:hover {
    background: none;
    background-color: $dark-blue-600;
}

.foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: lightgray;
    color: gray;
    font-size: 24px;
}

.menuBorda {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 4px;
}

.titulo {
    margin-top: 8px;
}