$dark-blue-900: #02000e;
$dark-blue-700: #070718;
$dark-blue-600: #0E0D35;
$dark-blue-500: #201F4D;

$light-blue: #0094FF;

$popup-bg-color: rgba(67, 66, 108, 0.5);

$light-gray: #B1B1B1;

$green-400: #00C514;
$green: #00FF19;